/* Navigation  */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home  */
#home{
      height: 335px;
      padding: 3px 28px;

}
#home::before{
    height: 445px;
}
#home p{
    font-size: 13px;
}
/* Services  */
#services{
    flex-direction: column;
}
#services .box{
    
    padding: 14px;
    margin: 11px 0px;
  
}
#services .box img{
    height: 133px;
    width: 170px;

}
/* Clients */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 86px;
    padding: 0px 4px;
    height: auto;
}
/* Contact */
#contact-box form{
    width: 80%;
}
/* Footer  */
/* Utility classes  */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}